<div class="main">
  <mat-card class="card">
    <mat-card-title>
      Rendelés
    </mat-card-title>
    <form class="order-form" [formGroup]="form">
      <mat-form-field class="full-width">
        <input matInput name="name" placeholder="Név" formControlName="name" maxlength="22">
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="Szobaszám" name="room" formControlName="room" maxlength="20">
      </mat-form-field>
      <div class="chooser">
        <mat-button-toggle-group class="type-group" value="1" (change)="type = $event.value">
          <mat-button-toggle value="1" class="type-item">Sima</mat-button-toggle>
          <mat-button-toggle value="2" class="type-item">Laktózmentes</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      <app-pancake-object [item]="item" *ngFor="let item of pancakes | async"></app-pancake-object>
      <div class="loading"><span *ngIf="pancakeLoading | async " class="mdi mdi-loading mdi-spin loading-icon"></span></div>
      <div class="order-button">
        <button mat-button color="primary" type="button" routerLink="/main">Vissza</button>
        <button mat-raised-button color="primary" type="button" (click)="reserve()"
                [disabled]="!form.valid || !validateNumbers() || (loading | async)">
          Rendelés
          <span *ngIf="(loading | async)" class="mdi mdi-loading mdi-spin loading-icon"></span>
        </button>
      </div>
    </form>
  </mat-card>
</div>
